@charset "UTF-8";
/* media query para telas menores que 768px  */
@media screen and (min-width: 768px) and (max-width: 992px) {
    
      section#login{
        width: 85vw;
    
    }
    section#login > div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }
    section#login > #formulario{
        float: right;
        width: 70%;
    }
}    
/* media query para telas menores que 1200px */
@media screen and (min-width: 992px){
      section#login{
        width: 950px;
    
    }
    section#login > div#imagem{
        float: left;
        width: 50%;
        height: 100%;
    }
    section#login > #formulario{
        float: right;
        width: 50%;

    }
}