@charset "UTF-8";
/* paleta de cores
#49a09d
#5f2c82
*/
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
    width: 100%;
    height: 100%;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);

    transition: width 0.3s, height 0.3s ;
    -o-transition-timing-function: ease;

}

section#login > div#imagem{
    display: block;
    background: #5f2c82 url(../imagens/logo.jpg) no-repeat center bottom;
    background-size: cover;
    height: 200px;
}

section#login > #formulario{
    display: block;
    padding: 10px;

}