@charset "UTF-8";
/* paleta de cores
#49a09d
#5f2c82
*/
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-image: linear-gradient(to top, #49a09d, #5f2c82);
  width: 100%;
  height: 100%;
}

main {
  position: relative;
  width: 100vw;
  height: 100vh;
}

section#login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background-color: white;
  width: 300px;
  height: 600px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  transition:
    width 0.3s,
    height 0.3s;
  -o-transition-timing-function: ease;
}

section#login > div#imagem {
  display: block;
  background: #5f2c82 url(../imagens/logo.jpg) no-repeat center bottom;
  background-size: cover;
  height: 200px;
}

section#login > #formulario {
  display: block;
  padding: 10px;
  margin-top: 30px;
}

div#formulario > h1 {
  text-align: center;
  margin-bottom: 10px;
}

div#formulario > p {
  font-size: 0.8em;
  margin-bottom: 5px;
  text-align: right;
}

form > div.campo {
  height: 40px;
  text-align: center;
  margin-top: 10px;
}

div.campo > span {
  display: inline;
  width: 10%;
  float: left;
  color: #5f2c82;
  transform: translateY(50%);
}

div.campo > input[type="email"],
div.campo > input[type="password"] {
  display: inline-block;
  width: 85%;
  height: 40px;
  font-size: 1em;
  text-align: center;
  padding: 10px;
  margin-top: 5px;
}

form > input[type="submit"] {
  display: block;
  font-size: 1em;
  width: 85%;
  float: right;
  height: 40px;
  color: white;
  background-color: #5f2c82;
  border: 0px 0px 0px 5px black;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 15px;
  margin-right: 7px;
}

form > input[type="submit"]:hover {
  background-color: #49a09d;
  cursor: pointer;
}

form > a.botao {
  display: block;
  float: right;
  text-align: center;
  font-size: 1em;
  color: white;
  background-color: #5f2c82;
  text-decoration: none;
  height: 40px;
  width: 85%;
  border: 0px 0px 0px 5px black;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 7px;
}

form > a.botao:hover {
  background-color: #49a09d;
}

span {
  display: inline;
  transform: translateY(25%);
  
}
